<% layout('layouts/boilerplate') %>
<footer>
    <div class="footer-info">
        <div class="f-info-social"> 

        </div> 
        <div>Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">
                Privacy
            </a>
            <a href="/terms">
                Terms
            </a>
        </div>
    </div>
</footer>