<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lust</title>
</head>
<body>
    <h3>Listing Headings</h3>
    <div id="listing-container"></div>

    <p>


        for (let listing of listings) {
            const heading = document.createElement("h4");
            heading.textContent = listing;
            container.appendChild(heading);
        }
</p>
</body>
</html>